body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    background: linear-gradient(135deg, #ebe8e8, #b4acac);
    /* background: linear-gradient(135deg, #050505, #050505); */
}

.fondasi {
    text-align: center;
    background-color: #ff9771a8;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.container {
    text-align: center;
    background-color: #ffffff44;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* 
#845ec2
#D65DB1
#FF6F91
#FF9671
#FFC75F
#F9F871
*/
.container2 {
    text-align: center;
    background-color: #cdd1d1a9;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.container2:hover {
    background-color: #8e9164d0;
    border: 10;
    border-radius: 60;
    transform: scale(1.1);
}

.space {
    border-radius: 0;
    box-sizing: 10px;
    padding: 10px;
}

.fontPrint {
    text-align: center;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

h1 {
    color: #31312cde;
    margin-bottom: 15px;
    font-family: monospace;
}

.custom_h1 {
    color: #023a35;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.button {
    background-color: #07bb0d;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 15px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #020105b7;
    transform: scale(1.1);
}

.button.off {
    background-color: #ff1403c2;
}

.button.off:hover {
    background-color: #020105b7;
    transform: scale(1.1);
}

.temperature {
    margin-top: 20px;
}

.temperature span {
    font-size: 19px;
    font-weight: bold;
    display: block;
}

.box {
    margin-top: 15px;
}

.emergency {
    color: rgba(255, 5, 5, 0.551);
}

.box span {
    margin-top: 10px;
    /* border: 1px solid black; */
    font-size: 20px;
    font-weight: bold;
    display: block;

}

#warning {
    display: none;
    color: brown;
    font-size: medium;
    justify-content: center;

}

.content {
    display: none;
}
